html, body, div, span, img {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;	
	font-family: Calibri, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
	color: #f7f7f7;
}

body {
	background: #000;	
	width: 1000px;
	margin: 0px auto;
	height: 100%;
}

a img {
	border:  none;
}

a {
 	text-decoration: none;
}
a:link {
    color: #dedede;	
}

a:hover {
	color: #fff;
}

a:visited {
	color: #cdcdcd;
}

.header {
	font-size: 3em;
	font-weight: bold;
	
}