<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
		<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<title>Prosaic</title>
		
		<script type=text/javascript src="{{STATIC_URL}}lib/jquery-ui-1.8.18.custom/js/jquery-1.7.1.min.js"></script>
		<script type=text/javascript src="{{STATIC_URL}}lib/jquery-ui-1.8.18.custom/js/jquery-ui-1.8.18.custom.min.js"></script>
		{% block js %}{% endblock %}
		
		<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}lib/jquery-ui-1.8.18.custom/css/smoothness/jquery-ui-1.8.18.custom.css"/>
		<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/base.css"/>		
		{% block css %}{% endblock %}
		
		<title>{% block title %}Prosaic{% endblock %}</title>
	</head>
	
	<body>
			{% block header %}Header{% endblock %}
			{% block body %}Placeholder{% endblock %}
			
	</body>
	
</html>