{% extends "words/base.html" %}
{% block js %}
		<script type=text/javascript src="{{STATIC_URL}}js/animate.js"></script>	  
		<script type=text/javascript src="{{STATIC_URL}}js/scroll.js"></script>	  
		<script type=text/javascript src="{{STATIC_URL}}js/queue.js"></script>	  
{% endblock %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}



{% block body %}

<div id='drill' class='mode'>START OVER</div>
<div id='scatter' class='mode'>SCATTER</a></div>
<div id='ventana' class='mode' file='ventana'>WHEN I SEE</a></div>

<div id='controls'>
	<div id='label'>PEEK UNDER THE HOOD</div>
	<!-- <div id=about><a href=http://itp.nyu.edu/~yy600/blog/prosaic/ target=_blank>about</a></div> -->
	<div id='0' class='control off'>repeat</div>
	<div id='1' class='control off'>remix</div>
	<div id='2' class='control off'>stutter</div>
	<div id='3' class='control off'>elide</div>
	<div id='4' class='control off'>synonymize</div>
	<div id='5' class='control off'>alliterate</div>
	<div id='6' class='control off'>rhyme</div>
</div>
 <script type=text/javascript>

	// On reload, tell the server to kill all controls
	queueWrapper('controls', updateControls, [0,0,0,0,0,0,0]);
	var open = false;
	var hood = true;
	var crazy = false;
	var reading = false;
	var subQ = -1;

	function updateControls(data) {
		//console.log(data);
		if(!data)
			return;
		$(".control").each(function(idx){
			if (data[idx] > 0) {
				//console.log("SOMETHING IS ON!!!");
				if(!open) {
					openControls($("#controls"));
					initHood();
				}
				$(this).toggleClass('on');
				}
			});
	}
	
	$("#controls").click(function(e){
		//if(open) hood = false;
		//else hood = true;
		if(!open) openControls($(this));
		else closeControls($(this));
	});
	
	$(".control").click(function(e){
		e.stopPropagation();
		$(this).siblings().removeClass('on');			
		$(this).toggleClass('on');
		fadeOutCounter();
		sendControls();
	});
	
	function openControls(elem){
		//console.log("OPEN SESAME");
		//console.log(elem);
		elem.animate({
			right: 0,
		},1000);
		open = true;
	}
	
	function closeControls(elem){
		elem.animate({
			right: -125,
		},1000);
		open = false;
		// Closing the hood, turns off all controls
		// Send new control status to the server
		//if(!hood) {
			$(".control").each(function(i, sendControls){
				$(this).removeClass('on');
				$(this).addClass('off');
				});
			//}
	}
	
	function sendControls() {
		var controls = {};
		
		$(".control").each(function(idx){

			if ($(this).hasClass('on')) {
				subQ = idx;
				controls[idx] = 1;
				
				// Turn off the reading and reset it to the beginning
				if(reading) {
					stop();
					reading = false;
					}
				}
			else controls[idx] = 0;
			});
		
		//Re-Check hood status after every click
		hood = false;
		
		$.each(controls, function(c, control){
			if (control > 0) hood = true;			
			});
		
		initHood(subQ, -1);
		
		//queueWrapper('controls', function(){ console.log("SENT!")}, controls);
	}
	
	function initHood(subQ, preQ, file) {
		queue.reInit(subQ, preQ);
		queue.getData(file || null);
	}

	function fadeOutCounter() {
		setTimeout(function(){
			$(".count").fadeOut("slow");
			$(".ywp-container").fadeOut("slow");
		}, 500);
	}

	queue.getData();
		
	// Get reading
	$("#drill").click(function(){
			//hood = true;
			//initHood(-1, 0);
			crazy = false;
			reading = !reading;
			
			if(reading) {
				//console.log("READ");
				hood = true;
				closeControls($("#controls"));
				initHood(-1, 0);
			}			
	});
	
	// Music
	$("#scatter, #ventana").click(function(){
		reading = false;
		crazy = true;
		
		//console.log("CRAZY");
		hood = false;
		closeControls($("#controls"));
		initHood(-1, -1, $(event.target).attr("file"));
		fadeOutCounter();
	});
	
</script>

{% endblock %}

