{% extends "words/base.html" %}
{% block js %}
		<script type=text/javascript src="{{STATIC_URL}}js/animate.js"></script>	  
		<script type=text/javascript src="{{STATIC_URL}}js/scroll.js"></script>	  
		<script type=text/javascript src="{{STATIC_URL}}js/queue.js"></script>	  
{% endblock %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}



{% block body %}

<div id=listen><a href="{{STATIC_URL}}data/listen.mp3">Crazy</a></div>
<div id=reading><a  href="{{STATIC_URL}}data/reading.mp3">Reading</a></div>

<div id=controls>
	<div id=label>peek under the hood</div>
	<div id=about><a href=http://itp.nyu.edu/~yy600/blog/prosaic/ target=_blank>about</a></div>
	<div id=0 class='control off'>repeat</div>
	<div id=1 class='control off'>remix</div>
	<div id=2 class='control off'>stutter</div>
	<div id=3 class='control off'>elide</div>
	<div id=4 class='control off'>synonymize</div>
	<div id=5 class='control off'>alliterate</div>
	<div id=6 class='control off'>rhyme</div>
</div>
<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
<script type=text/javascript>

	// On reload, tell the server to kill all controls
	queueWrapper('controls', updateControls, [0,0,0,0,0,0,0]);
	var open = false;
	var hood = true;


	function updateControls(data) {
		$(".control").each(function(idx){
			if (data[idx] > 0) {
				console.log("SOMETHING IS ON!!!");
				if(!open) {
					openControls($("#controls"));
					initHood();
				}
				$(this).toggleClass('on');
				}
			});
	}
	
	$("#controls").click(function(){
		//if(open) hood = false;
		//else hood = true;
		if(!open) openControls($(this));
		else closeControls($(this));
	});
	
	$(".control").each(function(i){
		$(this).click(function(e){
			e.stopPropagation();
			$("#controls div").removeClass('on');			
			$(this).toggleClass('on');
			
			sendControls();
			});
		});
	
	function openControls(elem){
		console.log("OPEN SESAME");
		console.log(elem);
		elem.animate({
			right: 0,
		},1000);
		open = true;
	}
	
	function closeControls(elem){
		elem.animate({
			right: -125,
		},1000);
		open = false;
		// Closing the hood, turns off all controls
		// Send new control status to the server
		//if(!hood) {
			$(".control").each(function(i, sendControls){
				$(this).removeClass('on');
				$(this).addClass('off');
				});
			//}
	}
	
	function sendControls() {
		var controls = {};
		var subQ = -1;
		
		$(".control").each(function(idx){

			if ($(this).hasClass('on')) {
				subQ = idx;
				controls[idx] = 1;	
				}
			else controls[idx] = 0;
			});
		hood = false;
		$.each(controls, function(c, control){
			if (control > 0) hood = true;			
			});
		
		initHood(subQ, -1);
		
		//queueWrapper('controls', function(){ console.log("SENT!")}, controls);
	}
	
	function initHood(subQ, preQ) {
		queue.reInit(subQ, preQ);
		queue.getData();
	}
	queue.getData();

	// Get reading
	$("#reading a").click(function(){
			hood = true;
			initHood(-1, 0);
	});
	
	// Music
	$("#listen a").click(function(){
			hood = !hood;
			initHood(-1, -1);
	});

	setTimeout('$(".ywp-container").fadeOut("slow")', 500);
	
</script>

{% endblock %}

